* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/*-------Header------------*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*-------NavBar------------*/

.header .navbar .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .navbar .flex .logo a {
    font-size: 2.2rem;
    margin-right: 40rem;
    margin-left: 5rem;
    font-weight: 400;
    text-align: center;
}

.header .navbar .flex a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.header .navbar .flex .logo a:hover {
    color: #000;
}

.header .navbar .flex a:hover {
    color: #2185D5;
}

/*--------Home Section --------------*/

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.search-section .half-width {
    width: 45%;
    margin-bottom: 30px;
}

.search-section img {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    height: 60vh; /* Set a specific height (80% of the viewport height in this case) */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 10px;
}

.search-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.search-section h3 {
    font-size: 1.8rem;
    color: #303841;
    margin-bottom: 15px;
}

.search-section p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
}

.search-section .btn {
    display: inline-block;
    padding: 8px 13px;
    margin-bottom: 10px;
    background-color: #2185D5;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    text-decoration: none;
}

.search-section .btn:hover {
    background-color: #1669b2;
}

/*-------Footer----------*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}